<template>
  <main>
    <header>
      <img alt="Vue logo" src="../assets/logo.png">
      <h1>Home Page</h1>
    </header>
  </main>
</template>
<script setup>
import { useHead } from '@vueuse/head'

useHead({
  title: 'A Home Page'
})
</script>
